<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freehand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Lista Spesa</title>
</head>
<body>
    <div id="container">
        <div class="post-it">
            <div class="header">
                <h1>Lista Della Spesa:</h1>
            </div>
            <div id="to-do">
                <p v-if="listaSpesa.length === 0" class="empty">Hai tutto quello che ti serve!</p>
                <ul>
                    <li v-for="(articolo, index) in listaSpesa">
                        <p @click="preso(index)" :class="listaSpesa[index].done === true ? 'lined' : '' ">{{articolo.text}}</p>
                        <span id="erase" @click="remove(index)" >X</span>
                    </li>
                </ul>
            </div>
            <div class="add">
                <input type="text" v-model="articolo" placeholder="Cosa vuoi aggiungere?" @keyup.enter="aggiungi">
                <button @click="aggiungi">aggiungi</button>
            </div>

        </div>


    </div>


    <script src="js/script.js"></script>
</body>
</html>